
.button {
    width: 28%;
    height: 20%;
    background-color: lightgrey;
    border: 2px solid black;
    text-align: center;
    /*line-height: 40px;*/
    vertical-align: middle;
    padding: 1.5%;
/*change to 1% media query under 445px width*/
    font-size: 120%;
    font-family: monospace;
    margin: auto;
}

.numberContainer{
    display: inline-block;
    margin: auto;
    border: 2px solid cadetblue;
    width: 45%;
    height: 80%;
    padding: 1%;
    float:left;
}

.sizeContainer{
    display: inline-block;
    float: right;
    margin: auto;
    border: 2px solid orangered;
    width: 45%;
    height: 80%;
    padding: 1%;
}

.container{
    font-family: monospace;
    font-size: 25px;
    width: 90%;
    height: 270px;
    text-align: center;
    margin: auto;
}

.option {
    width: 300px;
    font-size: 25px;
    margin: 15px;
}

.generate{
    width: 90%;
    margin: -40px auto;
    font-size: 250%;
}

.number {
    margin: 0px;
    float:left;
}

.groupColumn {
    /*float:left;*/
    margin: 25px;
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
}

.results {
    width: 90%;
    display: none;
    margin: 5px 20px;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align:center;
    padding: 10px;
}

.remove {
    width: 100px;
    height: 10px;
    background-color: lightgrey;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
}

.selected{
    color: red;
}

@media (max-width: 445px) {
    .button {
        padding: 1%;
    }
}