
.button {
    width: 29%;
    height: 22%;
    background-color: lightgrey;
    border: 2px solid black;
    text-align: center;
    line-height: 150%;
    padding: 1.5%;
    font-size: 120%;
    font-family: monospace;
    margin: auto;
}

.numberContainer{
    display: inline-block;
    margin: auto;
    border: 2px solid cadetblue;
    width: 45%;
    height: 80%;
    padding: 1%;
    float:left;
}

.sizeContainer{
    display: inline-block;
    float: right;
    margin: auto;
    border: 2px solid orangered;
    width: 45%;
    height: 80%;
    padding: 1%;
}

.container{
    font-family: monospace;
    font-size: 25px;
    width: 90%;
    height: auto;
    text-align: center;
    margin: auto;
}

.option {
    width: 300px;
    font-size: 25px;
    margin: 15px;
}

.number {
    margin: 0px;
    float:left;
}

.groupColumn {
    /*float:left;*/
    margin: 25px;
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
}

.results {
    width: 90%;
    display: none;
    margin: 5px 4%;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 445px) {
    .button {
        padding: 1%;
    }
}

@media (max-width: 755px) {
    .button {
        width: 28%;
    }
}

.generate{
    width: 90%;
    height: 35px;
    margin: 15px auto;
    /*font-size: 250%;*/
    line-height: 100%;
    display: inline-block;
}

.hovered {
    color: white;
    background-color: black;
}

.selected{
    color: red;
}
