.generateContainer{
    margin: 20px 25px;
}
.generate {
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border: 2px solid black;
    font-family: monospace;
    font-size: 40px;
    text-align:center;
    line-height: 50px;
    padding: 10px;
    float:left;
}

.results {
    float:left;
    width: 90%;
    height: 300px; /*auto?*/
    margin: 35px 20px;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align:center;
    padding: 10px;
}

.remove {
    width: 100px;
    height: 10px;
    background-color: lightgrey;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
}
